.App {
  text-align: center;
  color: white;
  background-color: black;
  border-color: black;
  border-style: solid;
  border-bottom-width: 20px;
  max-height: 10px;
}

.blackTop {
  height: 19px;
}

.divider {
  background-color: #282c34;
  height: 1px;
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  max-height: 90px;
  max-width: 40%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  font-size: calc(12px + 2vmin);
  font-family: Arial, Helvetica, sans-serif;
  font: Helvetica;
  font-weight: 900;
  color: white;
  background-color:#ec1701;
  margin-top: -25px;
  padding-top: 20px;
  padding-bottom: 20px;
}

a, u {
  text-decoration: none;
  color: black;
}

.footer {
  margin-top: 150px;
  position: relative;
  width: 100%;
}

.copyright {
  padding-top: 0px;
  background-color:white;
  height: 120px;
}

p.copyright {
  position: absolute;
  width: 100%;
  color:black;
  line-height: 40px;
  font-size: 0.7em;
  text-align: center;
  bottom:0;
  font-family: 'Courier New', Courier, monospace;
}

.button {
  /* padding-top: 20px; */
  /* padding-bottom: 7px; */
  /* position: absolute; */
  width: 100%;
  text-align: center;
  color:black;
  background-color:white;
  font-family: 'Courier New', Courier, monospace;
  cursor: pointer;
  border: none;
  outline:none;
}

.closeButton {
  max-width: 70px;
  text-align: center;
  margin: 0 auto;
  font-size: calc(8px + 2vmin);
  font-family: Arial, Helvetica, sans-serif;
  font: Helvetica;
  font-style: italic;
  font-weight: 900;
  background-color: #ec1701;
  border: none;
  color: white;
  padding: 5px 15px 5px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-bottom: 5px;
  cursor: pointer;
}

.modal {
  color: black;
  font-size: calc(8px + 2vmin);
  font-family: Arial, Helvetica, sans-serif;
  font: Helvetica;
}
.modal > .aboutHeader {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px 0px;
  background-color: #ec1701;
  color: white;
}
.modal > .aboutContent {
  width: 100%;
  padding-top: 10px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  color: white;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
  margin: 0 auto;
  /* max-width: 64em; */
  padding: 0;
}

.newspaperTitle {
  color: white;
  background-color: #ec1701;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
  font: Helvetica;
  padding-right: 5px;
  padding-left: 3px;
}

.container {
  display: grid;
  background-color: #f3f6f7;
  margin-top:10px;
}

.content, .overlay {
  grid-area: 1 / 1;
}

.content {
  margin-top: -12px;
  padding-right: 5px;
  margin-left:5px
}

.overlay {
  margin-top: 25px;
  padding-left: 5px;
}

.headlines {
  color: black;
  margin: 0px, 20px, 0px, 20px;
  padding-right: 30px;
  padding-left: 30px;
  margin-bottom: 60px;
}

.loading {
  color: black;
  text-align: center;
}

.loadingMessage {
  background-color: #ec1701;
  color: white;
  font-size: calc(8px + 2vmin);
  font-family: Arial, Helvetica, sans-serif;
  font: Helvetica;
  max-width: 300px;
  margin: 0 auto;
  margin-top: 195px;
  border: black;
  border-width: 2px;
  border-style: solid;
}

.errorMessage {
  background-color: #ec1701;
  color: white;
  font-size: calc(8px + 2vmin);
  font-family: Arial, Helvetica, sans-serif;
  font: Helvetica;
  font-weight: 900;
  text-align: center;
  padding: 5px;
  max-width: 300px;
  margin: 0 auto;
  margin-top: 195px;
  border: black;
  border-width: 2px;
  border-style: solid;
}

.App-link {
  color: #61dafb;
}
/* 
  Media queries below, to handle different-sized screens
*/

.updated {
  text-align: center;
  margin-top: 126px;
}


@media screen and (max-width: 1024px) {

  .App-header {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    justify-content: center;
    font-size: calc(8px + 2vmin);
    font-family: Arial, Helvetica, sans-serif;
    font: Helvetica;
    font-weight: 900;
    color: white;
    background-color:#ec1701;
  }

  .content {
    margin-top: -10px;
    padding-right: 5px;

  }

  body {
    background-color: white;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1em;
    margin: 0 auto;
    max-width: 64em;
    padding: 0;
  }

  .updated {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {

  body {
    background-color: white;
  }

  .content {
    margin-top: -10px;
    padding-right: -10px;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1em;
    margin: 0 auto;
    max-width: 64em;
    padding: 0;
  }

  .App-header {
    padding: 20px;
  }

  .updated {
    text-align: center;
  }
}

@media screen and (max-width: 600px) {

  body {
    background-color:white;
  }

  .content {
    margin-top: -10px;
    padding-left: 5px;
  }

  .modal {
    color: black;
    font-size: calc(6px + 2vmin);
    font-family: Arial, Helvetica, sans-serif;
    font: Helvetica;
    line-height: 1.2;
  }

  .loading {
    margin-top: 5px;
    color: black;
    text-align: center;
  }

  .spinner {
    align-content: center;
  }

  .App-header {
    text-align: center;
    padding: 30px;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1em;
    margin: 0 auto;
    max-width: 64em;
    padding: 0;
  }

  .updated {
    text-align: center;
    margin-top: 116px;
  }
}

@media screen and (max-width: 414px) {
  
  .content {
    margin-top: -10px;
    padding-left: 0px;
  }

  .App-header {
    text-align: center;
    padding: 20px;
  }

  .blackTop {
    height: 19px;
  }

  .App {
    height: 10px;
  }

  .updated {
    text-align: center;
    margin-top: 96px;
  }
}

@media screen and (max-width: 411px) {
  
  .content {
    margin-top: -10px;
    padding-left: 0px;
  }

  .App-header {
    text-align: center;
    padding: 20px;
    padding-top: 35px;
  }

  .updated {
    margin-top: 120px;
  }
}

@media screen and (max-width: 384px) {
  
  .content {
    margin-top: -10px;
    padding-left: 0px;
  }

  .App-header {
    text-align: center;
    padding: 10px;
    padding-top:30px;
    font-size: calc(6px + 2vmin);
  }
}

@media screen and (max-width: 375px) {
  
  .content {
    margin-top: -10px;
    padding-left: 0px;
  }

  .App-header {
    text-align: center;
    padding: 20px;
    font-size: calc(6px + 2vmin);
  }

  .modal {
    color: black;
    font-size: calc(6px + 2vmin);
    font-family: Arial, Helvetica, sans-serif;
    font: Helvetica;
    line-height: 1.2;
  }

  .modal > .aboutContent {
    width: 100%;
    padding-top: 10px;
    /* font-size: 12px; */
  }

  .updated {
    margin-top: 100px;
  }
}

@media screen and (max-width: 360px) {
  
  .content {
    margin-top: -10px;
    padding-left: 0px;
  }

  .App-header {
    text-align: center;
    font-size: 15px;
    padding: 30px;
  }

  .updated {
    margin-top: 120px;
  }
}