.App {
  text-align: center;
  color: white;
  background-color:#ec1701;
}

ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
  margin: 0 auto;
  /* max-width: 64em; */
  padding: 0;
}

.newspaperTitle {
  color: white;
  background-color: #ec1701;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
  font: Helvetica;
  padding-right: 5px;
  padding-left: 3px;
}

.container {
  display: grid;
  background-color: #f3f6f7;
  margin-top:10px;
}

.content, .overlay {
  grid-area: 1 / 1;
}

.content {
  margin-top: -12px;
  padding-right: 5px;
  margin-left:5px
}

.overlay {
  margin-top: 25px;
  padding-left: 5px;
}

.headlines {
  color: black;
  margin: 0px, 20px, 0px, 20px;
  padding-right: 30px;
  padding-left: 30px;
}

.loading {
  color: black;
  text-align: center;
}

.loadingMessage {
  background-color: #ec1701;
  color: white;
  font-size: calc(8px + 2vmin);
  font-family: Arial, Helvetica, sans-serif;
  font: Helvetica;
}

.App-header {
  background-color: #282c34;
  /* min-height: 5vh; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  text-align: center;
  padding-left: 20px;
  justify-content: center;
  font-size: calc(15px + 2vmin);
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
  font: Helvetica;
  font-weight: 900;
  /* font-size: 40px; */
  color: white;
  background-color:#ec1701;
}

.App-link {
  color: #61dafb;
}
/* 
  Media queries below, to handle different-sized screens
*/

@media screen and (max-width: 1024px) {

  .App-header {
   
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    text-align: center;
    padding-left: 40px;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    font: Helvetica;
    font-weight: 900;
    /* font-size: 40px; */
    color: white;
    background-color:#ec1701;
  }

  .content {
    margin-top: -10px;
    padding-right: 5px;

  }

  body {
    background-color: white;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
    margin: 0 auto;
    max-width: 64em;
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  body {
    background-color: white;
  }

  .content {
    margin-top: -10px;
    padding-right: -10px;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1em;
    margin: 0 auto;
    max-width: 64em;
    padding: 0;
  }
}

@media screen and (max-width: 600px) {
  body {
    background-color:white;
  }

  .content {
    margin-top: -10px;
    padding-left: 5px;
  }

  .loading {
    margin-top: 5px;
    color: black;
    text-align: center;
  }

  .spinner {
    align-content: center;
  }

  .App-header {
    text-align: center;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1em;
    margin: 0 auto;
    max-width: 64em;
    padding: 0;
  }
}

@media screen and (max-width: 600px) {
  .App-header {
    /* display: flex;
    flex-direction: column; */
    /* text-align: left; */
    padding-left: 0px;
  }
}